<header>
    <div class="content-wrapper">
        <div class="float-left">
            <p class="site-title">
                <a href="~/">Single Page Web API</a></p>
        </div>
    </div>
</header>

<div id="body" ng-controller="IndexCntrlr">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Welcome to kennara single-page app!</h1><br />
                <h2>Modify the code in this template to jump-start your ASP.NET Web API development.</h2>
            </hgroup>
            <p>
                ASP.NET Web API allows you to expose your applications, data and services to the
                web directly over HTTP.
            </p>
			@if(Roles.IsUserInRole("Teacher"))
			{
				<p>
					Title:<input type="text" ng-model="Title"><br />
					Video URL:<input type="text" ng-model="URL"><br />
					<button type="submit" ng-click="newLecture()" >Submit</button>
				</p>
			}
	</div>
    </section>
    <section class="content-wrapper main-content clear-fix">
		
		<div id="player" ng-controller="IndexCntrlr">
			<iframe width="560" height="380" src="{{nowPlaying}}"></iframe><br />
			<button>Show comments</button>
		</div>

		<div id="list" class="float-left">
			<h3>Hér kemur listi yfir fyrirlestra:</h3>
			<ol class="round">
				<li ng-repeat="lecture in Lectures">
					<h5><a href="" ng-click="selectLecture(lecture.LectureURL)">{{lecture.Title}}</a></h5>
<!--					<input type="text"/>{{lecture.ID}}
						href="lecture/{{lecture.ID}}"
					<button>{{lecture.Title}}</button>
-->
				</li>
			</ol>
		</div>
    </section>
</div>